*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    color:rgb(46, 45, 45);
    background-color: rgb(255, 255, 255);
}
/*font-family: 'Poppins', sans-serif;*/
/*header*/
header{
    display:flex;
    padding:20px;
    box-shadow:1px 1px 3px lightgray;
    background-color: rgb(36, 35, 34);
}
header .web-logo img{
    width:200px;
    margin:-20px 0 0 0;
    border-radius:0 0 10px 10px;
}
header .web-logo{
    color:white;
}
header .web-logo span{
    color:rgb(247, 199, 56);
}
/*nav-small-screen*/
.nav-small-screen{
    display:flex;
    justify-content: end;
    margin-top:-65px;
    padding:20px;
    width:100%;
    transition:all 300ms ease-in-out;
}
.nav-small-screen .wrap-nav-small-screen{
    display:flex;
    list-style: none;
    gap:30px;
}
#menu-icon{
    margin:10px 0 0 0;
}
#menu-icon .bar1{
    width:20px;
    height:3px;
    background-color: rgb(168, 172, 167);
    margin-bottom:3px;
    transition:transform 300ms ease-in-out
}
#menu-icon .bar2{
    width:20px;
    height:3px;
    background-color: rgb(168, 172, 167);
    margin-bottom:3px;
    transition:transform 300ms ease-in-out
}
#menu-icon .bar3{
    width:20px;
    height:3px;
    background-color: rgb(168, 172, 167);
    transition:transform 300ms ease-in-out
}
.nav-small-screen .sign-in{
    background-color: unset;
    padding:5px;
    width:30px;
    text-align:center ;
    color:rgb(98, 104, 100);
    border-radius:4px ;
}
.nav-small-screen .phone{
    display:flex;
    justify-content: start;
    gap:10px;
    align-items: center;
    border-radius:4px;
    position:absolute;
    left:10px;
    width:0;
    overflow: hidden;
    transition: all 100ms ease-in-out;
    background-color: white;
}
.nav-small-screen .phone:hover{
    cursor: pointer;
    box-shadow:1px 1px 3px;
}
.nav-small-screen .phone .icon{
    background-color: rgb(245, 247, 243) ;
    padding:8px;
    color:rgb(75, 156, 59);
    font-size:larger;
}
.nav-small-screen .phone .number{
    padding:0 5px;
}

/*menu*/
.menu{
    text-align:end;
    position:absolute;
    background-color: rgb(36, 35, 34);
    color:white;
    height:0;
    width:50%;
    overflow: hidden;
    transition:height 200ms ease-in-out;
    margin-top:-4px;
}
.menu ul li{
    list-style: none;
    background-color: rgb(56, 54, 51);
    padding:10px;
    margin:10px;
    border-radius: 4px;
}
.menu ul li:hover{
    cursor: pointer;
    padding-right:30px;
    background-color: rgb(31, 30, 30);
}
.menu .about-list{
    transform: translate(-200%);
    transition:all 300ms ease-in-out;
}
.menu .talk-list{
    transform: translate(-200%);
    transition:all 500ms ease-in-out;
}
.menu .request-list{
    transform: translate(-200%);
    transition:all 700ms ease-in-out;
}
/*introduction*/
.introduction{
    display:flex;
    gap:20px;
    justify-content: center;
    padding:20px;
   background-image: url('Screenshot_20230427-084427_Gallery.jpg');
    background-size: cover;
    color:rgb(233, 233, 233);
    margin-top: -22px;
    align-items: center;
    text-align: center;
}
.introduction h4{
    font-size: 70px;
    font-family: 'Roboto', sans-serif;
    color:rgb(247, 199, 56);
    padding:10px 0;
    margin-bottom: 70px;

}
.introduction h4 span{
    color:white;
}
.introduction .message{
    height:500px;
}
.introduction .message button{
    background-color: rgb(46, 45, 44);
   border:0;
    font-weight:600;
    color:rgb(247, 199, 56);
    opacity:.9;
    padding:20px;
    transition: padding 300ms ease-in-out;
    margin:20px 0;
    border-radius: 4px;
}
.introduction .message button:hover{
    cursor: pointer;
    background-color:rgb(17, 128, 161);
    color:white;
    padding-left:30px;
}
.introduction b{
    text-decoration: underline;
    color:rgb(104, 101, 99);
}
.founder{
    padding:10px 0;
    color:rgb(175, 175, 175);
}
.founder a{
    color:rgb(218, 164, 48);
    font-style:italic;
}
/*summarised-services*/
.summarised-services{
    padding:20px;
    background-color: rgb(37, 37, 36); 
    color:white;
    display:flex;
    justify-content:center;
    gap:20px;
}
.summarised-services .text{
    padding:40px 10px 0 10px;
    background-color: rgb(43, 42, 41);
    height:100px;
    text-transform: uppercase;
    display:flex;
    font-weight:600;
    font-family: sans-serif;
    border-bottom:2px solid rgb(235, 189, 63); 
    width:500px;
}
.summarised-services .paragraph{
    background-color: rgb(43, 42, 41);
    padding:10px;
    width:500px;
}
.summarised-services .paragraph button{
    padding:20px;
    background-color:unset;
    color:white;
    border:1px solid;
    margin:20px 0; 
    border-radius:4px;
    width:60%;
}
/*services-brief*/
.services-brief{
    display:flex;
    justify-content: center;
    padding:20px;
  
    gap:20px;
}
.service1 b{
    text-decoration: underline;
    color:rgb(168, 132, 90);
}
.services-brief h3{
    font-size: x-large;
    color:rgb(73, 73, 72);
    padding:10px 0;
}
.services-brief .icon{
    padding:20px;
}
.services-brief .icon i{
    font-size:100px;
    color:rgb(247, 199, 56);
}
.services-brief .service1{
    width:500px;
    box-shadow:1px 1px 7px rgb(190, 189, 189);
    margin:10px 10px;
    border-radius: 0px;
    padding:10px;
    height:fit-content;;
}
.services-brief .service2{
    width:500px;
    box-shadow:1px 1px 7px rgb(190, 189, 189);
    border-radius: 0px;
    padding:10px;
    height:fit-content;
    margin:10px 10px;
}
.services-brief button{
    padding:20px;
    background-color: rgb(31, 30, 29);
    border:0;
    color:rgb(255, 255, 255);
    font-weight:900;
    margin:20px 0;
    border-radius: 4px;
    transition: padding 300ms ease-in-out;
    width:56%;
}
.services-brief .service3{
    width:500px;
    box-shadow:1px 1px 7px rgb(190, 189, 189);
    border-radius: 0px;
    padding:10px;
    height:fit-content;
    margin:10px 10px;
}
.services-brief button:hover{
    cursor: pointer;
    background-color: rgb(15, 109, 138);
    color:white;
    padding-left:30px;
}

/*top-service-faqs-wrap*/
.top-service-faqs-wrap{
    display:flex;
    justify-content: center;
    padding:20px;
    gap:20px;
    background-color: rgb(36, 35, 34);
    color:white; 
}
.top-service-faqs-wrap h4{
    font-family: sans-serif;
    font-size: 20px;
    padding:30px 5px;
    color:rgb(247, 199, 56);
    background-color: rgb(43, 44, 44);
    border-bottom: 2px solid rgb(247, 199, 56);
    margin: 0 0 20px 0;
}

.top-service-faqs-wrap .top-services{
    width:500px; 
    background-color: unset;
    padding:10px;
    border-radius: 4px;
}
.top-service-faqs-wrap .top-services i{
    font-size: xx-small;
}
.top-service-faqs-wrap .top-services ul{
    list-style:none;
}
.top-service-faqs-wrap .top-services ul li{
    padding:30px 10px;
    background-color: rgb(43, 44, 44);
    margin-bottom:5px;
    transition: padding 300ms ease-in-out;
    border-radius:4px;
}
.top-service-faqs-wrap .top-services ul li:hover{
    cursor: pointer;
    padding-left: 20px;
}
.top-service-faqs-wrap .faqs{
    width:500px;
    padding:10px;
    border-radius: 4px;
    color:white;
    height:fit-content;
}
.top-service-faqs-wrap .faqs ul{
    list-style: none;
}
.top-service-faqs-wrap .faqs ul li{
    padding:10px;
    margin-bottom:5px;
    transition: padding 300ms ease-in-out;
    margin-left:-10px ;
}
.top-service-faqs-wrap .faqs ul li:hover{
    cursor: pointer;
}
.quest1{
    font-weight:900;
    color:rgb(247, 199, 56);
}
.ans2,.ans3, .ans4,.ans5,.ans6{
    display:none; 
}
.ans1,.ans2,.ans3, .ans4,.ans5,.ans6{
    background-color: rgb(40, 41, 41);
    padding:20px; 
    margin: 5px -20px 0 -10px;
    font-style:oblique;
}
.plus1,.plus2,.plus3,.plus4,.plus5,.plus6{
    float:right;
    padding:10px;
}

.one-bar1,.two-bar1,.three-bar1,.four-bar1,.five-bar1,.six-bar1{
    width:14px;
    height:2px;
    background-color: rgb(233, 153, 62);
    border-radius: 10px;
}
.one-bar2,.two-bar2,.three-bar2,.four-bar2,.five-bar2,.six-bar2{
    width:14px;
    height:2px;
    background-color: rgb(233, 153, 62);
    transform: rotate(90deg);
    margin:-2px 0 0 0;
    border-radius: 10px;
    transition: all 200ms ease-in-out;
}
.one-bar2{
    transform:rotate(180deg);
    opacity:0;
}
/*Empowerment*/
.empowerment{
    padding:20px;
}
.empowerment .text{
    border-bottom: 2px solid;
    width:fit-content;
    padding:10px 0;
    font-family: sans-serif;
    font-weight: 600;
}
/*quotes*/
.quotes{
    display:flex;
    overflow-x: scroll;
}
.quote{
    padding:30px;
    font-size: larger;
    box-shadow:1px 1px 7px lightgrey;
    margin:20px;
    color:rgb(44, 45, 46);
    font-style: oblique;
    width:600px;
}
.quote .icon{
    padding:20px 0;
    font-size:40px;
}
.quote p a{
    color:rgb(247, 199, 56)
}
/*master-footer*/
.master-footer{
    background-color: rgb(36, 35, 34);
    color:white;
    text-align: center;
    padding:20px;
}
/*SMALL SCREEN*/
@media screen and (max-width:500px) {
    /*introduction*/
.introduction{
    text-align:start;
}
.introduction h4{
    font-size:x-large;
}
.introduction .message{
    margin-top:40px;
    height: fit-content;
}
.introduction .message button{
    width:100%;
}
/*summarised-services*/
.summarised-services{
    flex-wrap:wrap;
}
/*services-brief*/
.services-brief{
    flex-wrap: wrap;
}
/*top-service-faqs-wrap*/
.top-service-faqs-wrap{
    flex-wrap:wrap;
}
/*menu*/
.menu{
    width:100%;
}
/*quotes*/
.quote{
    min-width:300px;
}
/*footer*/
footer{
    flex-wrap:wrap;
    justify-content: start;
}
footer div{
    padding:30px;
    width:50%;
}
/*contact us form*/
.contact-us-form{
    width:100%;
}
}