*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    color: rgb(33, 34, 36);
    background-color: rgb(255, 255, 255);

}
/*font-family: 'Poppins', sans-serif;*/
/*header*/
header{
    display:flex;
    padding:20px;
    box-shadow:1px 1px 3px lightgray;
    background-color: rgb(31, 32, 32);
}
header .web-logo img{
    width:200px;
    margin:-20px 0 0 0;
    border-radius:0 0 10px 10px;
}
header .web-logo{
    color:rgb(183, 198, 229);
    font-weight:900;
}
header .web-logo span{
    color:rgb(238, 216, 16);
}
header .web-logo .subject{
    font-size: xx-small;
}
/*nav-small-screen*/
.nav-small-screen{
    display:flex;
    justify-content: end;
    margin-top:-69px;
    padding:20px;
    width:100%;
    transition:all 300ms ease-in-out;
}
.nav-small-screen .wrap-nav-small-screen{
    display:flex;
    list-style: none;
    gap:30px;
}
#menu-icon{
    margin:10px 0 0 0;
}
#menu-icon .bar1{
    width:20px;
    height:3px;
    background-color: rgb(221, 200, 11);
    margin-bottom:3px;
    transition:transform 300ms ease-in-out
}
#menu-icon .bar2{
    width:20px;
    height:3px;
    background-color: rgb(221, 200, 11);
    margin-bottom:3px;
    transition:transform 300ms ease-in-out
}
#menu-icon .bar3{
    width:20px;
    height:3px;
    background-color: rgb(221, 200, 11);
    transition:transform 300ms ease-in-out
}
.nav-small-screen .sign-in{
    background-color: unset;
    padding:5px;
    width:px;
    text-align:center ;
    color:rgb(221, 200, 11);
    border-radius:4px ;
    margin:3px 0 0 0;
}
.nav-small-screen .more-menu{
    color:rgb(148, 136, 33);
    margin:10px 0;
}
.nav-small-screen .more-menu ul{
    display:flex;
    gap:10px;
    list-style: none;
}
/*search-bar*/
.search-bar{
    display:flex;
    justify-content: center;
    padding:20px;
    margin-top: 30px;
    gap:10px;
}
.search-bar input{
    padding:10px;
    border-radius: 20px;
    width:30%;
    border:1px solid;
}
.search-bar button{
    padding:5px;
    background-color: unset;
    border-color:rgb(255, 217, 0);
}
.search-bar button:hover{
    cursor: pointer;
    background-color: rgb(31, 32, 32);
    color:rgb(255, 217, 0);
}
/*introduction*/
.introduction{
    display:flex;
    gap:20px;
    justify-content: center;
    padding:20px;
    margin-top: -22px;
    align-items: center;
    text-align: center;
    background-color: unset;
}
.introduction h4{
    font-family: 'Roboto', sans-serif;
    padding:10px 0;
    margin-bottom: 10px;
    font-size:70px;

}
.introduction h4 span{
    color:rgb(12, 36, 88);
}
.introduction .text-animation::after{
    content:"Animation";
    padding:5px;
    background-color: unset;
    animation:text_anim 6s infinite;
    width:120px;
    display:inline-block;
    color:rgb(42, 238, 16);
    border:1px solid rgb(228, 223, 176);
    border-radius: 2px;
}
@keyframes text_anim {
    0% {content:"Fault finding";}
    50% {content:"Fixing";}
    100% {content:"Fault finding";}
}
.introduction .message .get-started{
    background-color: unset;
   border:1px solid;
    padding:10px;
    transition: padding 300ms ease-in-out;
    margin:30px 0;
    border-radius: 20px;
    width:30%;
    background-color: rgb(238, 216, 16);
    color:rgb(0, 0, 0);
}
.introduction .message button:hover{
    cursor: pointer;
    background-color:rgb(31, 32, 32);
    color:  rgb(238, 216, 16);
}

/*about us*/
.about-us{
    display:flex;
    gap:20px;
    padding:20px;
    justify-content: center;
    background-color: rgb(31, 32, 32);
    color:rgb(180, 175, 175);
}
.about-us .text{
    width:500px;
    padding:10px;
    background-color: rgb(24, 23, 23);
}
.about-us .text h2{
    padding:10px 0;
    border-bottom: 2px solid rgb(238, 216, 16);
    color:rgb(230, 224, 224);

}
.about-us .text p{
    padding-top: 10px;
}
.about-us .picture{
    width:500px;
}
.about-us .picture img{
    width:100%;
}

.about-us .buttons{
    padding:20px 0;
}
.about-us .buttons button{
    padding:10px;
    background-color: unset;
    border-radius:20px;
    width:30%;
}
.about-us .buttons button:hover{
    cursor: pointer;
    background-color:rgb(238, 216, 16);
    color:rgb(2, 2, 2);
}
.about-us .buttons .learn-more{
    color:rgb(238, 216, 16);
    border:1px solid;
}
.about-us .buttons .contact-us{
    color:rgb(2, 2, 2);
    border:1px solid;
    background-color: rgb(238, 216, 16);
}
/*what-we-do*/
.what-we-do{
    padding:20px;
}
.what-we-do h2{
    text-align:center;
}
/*services*/
.services{
    padding:20px;
    display:flex;
    gap:20px;
    justify-content: center;
}
.services .electrical-design{
    border: 1px solid lightgrey;
    width:500px;
}
.services .electrical-design h4{
    padding:20px;
    border-bottom: 2px solid rgb(238, 216, 16);
    font-size:larger;
    margin:0 20px;
}
.services .electrical-design h5{
    padding:20px;
    font-size:large;
}
.services .electrical-design p{
    padding:0 20px 10px 20px;
}
.services .electrical-design button{
    padding:10px;
    border-radius: 20px;
    border:1px solid;
    margin:0 0 10px 20px;
    background-color: unset;
}
.services .electrical-design button:hover{
    cursor: pointer;
    background-color: black;
    color:rgb(238, 216, 16);
}
.services .electrical-design img{
    width:100%;
}

.services .advance-knowledge{
    border: 1px solid lightgrey;
    width:500px;
}
.services .advance-knowledge div{
    padding:20px;
}
.services .advance-knowledge h4{
    padding:20px 0;
    border-bottom: 2px solid rgb(238, 216, 16);
    font-size:larger;
}
.services .advance-knowledge h5{
    padding:10px 0 10px 0; 
    font-size:large;
}
.services .advance-knowledge img{
    width:100%;
}
.services .advance-knowledge button{
    margin-top: 10px;
    padding:10px;
    border-radius: 20px;
    border:1px solid;
    background-color: unset;
}
.services .advance-knowledge button:hover{
    cursor: pointer;
    background-color: black;
    color:rgb(238, 216, 16);
}

/*top-educational-projects*/
.top-educational-projects h2{
    text-align:center;
    padding:20px;
}
.top-educational-projects .projects .projects-list h3{
    padding:5px 0;
}
.top-educational-projects .projects{
    background-color: rgb(240, 206, 18);
}
.top-educational-projects .projects .projects-list{
    width:100%;
    display:flex;
    overflow-x:scroll;
    padding:20px;
    gap:20px;
}
.projects .projects-list .project1{
    min-width:500px;
}
.projects .projects-list .project1 img{
    width:100%;
    border-radius:10px;
}
.projects .projects-list .wrap{
    padding:20px;
    background-color: rgb(255, 255, 255);
    margin:10px 0;
}
.projects .projects-list .project2{
    min-width:500px;
}
.projects .projects-list .project2 img{
    width:100%;
    border-radius:10px;
}
.projects .projects-list .project3{
    min-width:500px;
}
.projects .projects-list .project3 img{
    width:100%;
    border-radius:10px;
}
.top-educational-projects .projects .projects-list button{
    padding:5px;
    background-color: white;
    border:1px solid;
}
.top-educational-projects .projects .projects-list .learn-more{
    padding:10px;
    border-radius: 20px;
}
/*position*/
.top-educational-projects .position{
    padding:20px;
    display:flex;
    gap:10px;
    justify-content: center;
}
.top-educational-projects .position div{
    width:50px;
    height:3px;
    border:1px solid rgb(255, 255, 255);
    padding:1px;
}
/*skip-project*/
.top-educational-projects .skip-project{
    padding:0 5px;
    font-size:40px;
    position:absolute;
    width:100%;
    margin-top:-350px;
    color:white;
}
.top-educational-projects .skip-project #next{
    float:right;
}
/*menu*/
.menu{
    position:absolute;
    background-color: rgb(31, 32, 32);
    color:white;
    height:0;
    width:100%;
    overflow: hidden;
    transition:height 200ms ease-in-out;
    margin-top:-4px;
    z-index:1;
}
.menu ul li{
    list-style: none;
    background-color: rgb(238, 216, 16);
    padding:10px;
    margin:10px;
    border-radius: 4px;
    color:rgb(31, 30, 30);
}
.menu ul li:hover{
    cursor: pointer;
    background-color: rgb(161, 147, 19);
}
.menu .about-list{
    transform: translate(-200%);
    transition:all 200ms ease-in-out;
}
.menu .talk-list{
    transform: translate(-200%);
    transition:all 500ms ease-in-out;
}
.menu .request-list{
    transform: translate(-200%);
    transition:all 700ms ease-in-out;
}
.menu .social-media{
    padding:10px;
}
.menu .social-media .wrap-all{
    display:flex;
    gap:10px;
    padding:10px 0;
}
.menu .social-media .wrap-all i{
    font-size:x-large;
}



/*SMall Screens*/
@media screen and (max-width:500px) {
.nav-small-screen .more-menu{
       display:none;
    }
/*search-bar*/
.search-bar input{
    width:100%;
}
.search-bar button{
    display:none;
}
/*introduction*/
.introduction h4{
    font-size:30px;
}
.introduction .message .get-started{
    width:50%;
}
/*about us*/
.about-us{
    flex-wrap: wrap;
}
.about-us .text{
    margin:-24px 0 0 0;
    box-shadow: 1px 2px 3px rgb(39, 38, 38);
}
/*services*/
.services{
    flex-wrap: wrap;
    gap:0;
}
.services h4{
    text-align: center;
}
/*.top-educational-projects*/
.top-educational-projects .projects .projects-list{
    overflow-x:scroll;
}
.projects .projects-list .project1,.projects .projects-list .project2,.projects .projects-list .project3{
    min-width:300px;
}
/*position*/
.top-educational-projects .position{
    margin-top:-50px;
}
}